.header__title {
    max-width: 638px;
    margin: 62px 0 32px 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    align-self: center;
    background: linear-gradient(-45deg, #949E83, #DBF7E5, #95E2DD, #FFAF2E);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    animation: gradient 10s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% auto;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}