.header__title {
    max-width: 638px;
    margin: 62px 0 32px 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    align-self: center;
}